<div class="row">
	<div class="input-field col s6">
		{{input value=filterText class="validate" id="filter" length="60"}}
		<label for="filter"><i class="fa fa-search"></i> Buscar proyecto</label>
	</div>
</div>

<div class="row">
	<table class="striped">
		<thead>
			<tr>
			{{#each listColumnsTitle as |item|}}
				<th>
					{{item}}

					<span class="fa fa-sort-alpha-asc" {{action "test" item}}></span>

				</th>
			{{/each}}
			</tr>
		</thead>

		<tbody>
		{{#each contentFilter as |content|}}
			{{table-list-item content=content columns=columns}}
		{{else}}
			{{#if filterText}}
				<tr>
					<td colspan="{{columnsCount}}">
						No se encontraron resultados
					</td>
				</tr>
			{{/if}}
		{{/each}}
		</tbody>
	</table>
</div>